@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.addProductPage {
  display: flex;
  flex-direction: column;

  margin: 5rem;
  gap: 5px;
}

.addProductPage>span {
  font-size: 10px;
  color: red;
}

.link {
  text-align: center;
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: .8rem;

  margin: 4vh 0;
}

.product {
  display: grid;
  justify-items: center;

  background-color: #fad6ff;

  width: 15vw;
  height: 43vh;
  border-radius: 1.25rem;

}

.product-img {
  background-color: #ffff;

  width: 13vw;
  height: 28vh;
  border-radius: 1.25rem;

  margin-top: 2vh;
}

.product-infos {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.product-infos>h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.valores {
  display: flex;
  flex-direction: column;
}

.valores>span {
  color: #860194;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}

.valores>p {
  color: #868686;
  text-align: center;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;

  margin-bottom: .3rem;
}