@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* ADMIN PAGE */
.addProductPage {
  display: flex;
  flex-direction: column;

  margin: 5rem;
  gap: 5px;
}

.addProductPage>span {
  font-size: 10px;
  color: red;
}

.link {
  text-align: center;
}

/* PRODUCTS PAGE */
.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: .8rem;

  margin: 4vh 4vw;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fad6ff;

  width: 15vw;
  height: 43vh;
  border-radius: 1.25rem;

  gap: .5rem;

}

.product:hover {
  width: 16vw;
  height: 45vh;
}

.product-img {
  background-color: #ffff;

  width: 90%;
  height: 70%;
  border-radius: 1.25rem;

  margin-top: 2vh;
}

.product-infos {
  display: flex;
  flex-direction: column;
  gap: .3rem;

  height: 30%;
}

.product-infos>h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.valores {
  display: flex;
  flex-direction: column;
}

.valores>span {
  color: #860194;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}

.valores>p {
  color: #868686;
  text-align: center;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

/* NAVBAR */
.navbar-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  margin-top: 1rem;
}

.search-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: .7rem;
}

.search-section>input {
  border-radius: 20px;
  border: 1px solid #B1B1B1;
  padding: .6rem .8rem;
  width: 12rem;
  z-index: -1;

  color: #868686;
  font-weight: 200;

  margin-left: -.7rem;
}

.cart-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

.profile-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

.navbar-botton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: #C514DB;

}

.navbar-botton>a {
  padding: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: #ffff;
}

.navbar-botton>a:hover {
  background-color: #ffff;
  color: #C514DB;
}

.separation {
  width: .1rem;
  /* Espessura da linha */
  height: 3rem;
  background-color: #ffff;
  /* Cor da linha */
}