@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

/* ADMIN PAGE */
.addProductPage {
  display: flex;
  flex-direction: column;

  margin: 5rem;
  gap: 5px;
}

.addProductPage>span {
  font-size: 10px;
  color: red;
}

.link {
  text-align: center;
}

/* PRODUCTS PAGE */
.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: .8rem;

  margin: 4vh 4vw;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fad6ff;

  width: 15vw;
  height: 43vh;
  border-radius: 1.25rem;

  gap: .5rem;

}

.product:hover {
  width: 16vw;
  height: 45vh;
}

.product-img {
  background-color: #ffff;

  width: 90%;
  height: 70%;
  border-radius: 1.25rem;

  margin-top: 2vh;
}

.product-infos {
  display: flex;
  flex-direction: column;
  gap: .3rem;

  height: 30%;
}

.product-infos>h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.valores {
  display: flex;
  flex-direction: column;
}

.valores>span {
  color: #860194;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}

.valores>p {
  color: #868686;
  text-align: center;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

/* NAVBAR */
.navbar-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  margin-top: .8rem;
  width: 100%;
}

.search-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1.2rem;
}

.search-section>input {
  border-radius: 20px;
  border: 1px solid #B1B1B1;
  padding: .7rem .8rem .7rem 1.2rem;
  width: 12rem;
  z-index: -1;

  color: #868686;
  font-weight: 300;

  margin-left: -1rem;
}

.cart-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

.infos-cart-section>span {
  font-weight: 600;
}

.profile-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

.infos-profile-section>span {
  font-weight: 600;
}

.infos-profile-section>a {
  font-weight: 300;
  color: black;
}

.infos-profile-section>a:hover {
  text-decoration: underline;
}

.navbar-botton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: #C514DB;
}

.navbar-botton>a {
  padding: 1.5rem;
  font-weight: 700;
  color: #ffff;
}

.navbar-botton>a:hover {
  background-color: #ffff;
  color: #C514DB;
}

.separation {
  width: .1rem;
  height: 3rem;
  background-color: #ffff;
}

/* HOMEPAGE */
.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  margin: 5vh 4vw;
}

.about-us {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us>h2 {
  color: #000;
  text-align: center;
  font-weight: 700;
}

.about-us>p {
  width: 85%;

  color: #000;
  font-weight: 400;
}

.us {
  width: 50%;
  display: flex;
  justify-content: center;
}

.us>img {
  width: 80%;
  border-radius: 2rem;
}

.events-carroussel {
  display: flex;
  padding: 2.5rem 2.5rem .5rem 2.5rem;

  overflow-x: auto;
  scroll-behavior: smooth;

  background-color: #C514DB;
  gap: .8rem
}

.events-carroussel::-webkit-scrollbar {
  display: none;
}


.buttons {
  width: 100%;
  background-color: #C514DB;
  text-align: center;
  padding-bottom: 1.5rem;
}

.buttons img {
  width: 150%;
}

.buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.buttons button:first-child img {
  transform: rotate(180deg);
}


.event-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #ffff;

  width: 16vw;
  height: 46vh;
  border-radius: 1.25rem;
  flex: none;

  gap: .5rem;
  padding-bottom: .5rem;
  margin-bottom: .1rem;
}

.event-card:hover {
  width: 17vw;
  height: 47vh;
}

.event-image {
  background-color: #bebebe;

  width: 90%;
  height: 70%;
  border-radius: 1.25rem;

  margin-top: 2vh;
}

.event-infos {
  display: flex;
  flex-direction: column;
  gap: .3rem;

  height: 40%;
}

.event-infos>h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;

  padding: 0 .5rem .3rem .5rem;
}

.event-infos>p {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;

  padding: 0 .5rem;
}

.reviews {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  padding: 2.5rem 1rem;
  gap: .8rem;
}

.review-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
  background-color: #E084EC;

  border-radius: 2rem;
  padding: .5rem;
}

.reviewer-image {
  width: 25%;
}

.review-content {
  width: 90%;
}

.review-content>p {
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  padding: .2rem 0;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  margin: .2rem 0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15) inset;
}

.footer-span {
  color: #860194;
  font-size: 20px;
  font-weight: 500;
}

.logo-footer {
  width: 10%;
  margin: 1rem;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-option {
  display: flex;
  gap: .5rem;
}

.payment-methods {
  display: flex;
  flex-direction: row;
  gap: .2rem;
}

.service-content {
  display: flex;
  flex-direction: row;
  gap: .2rem;
}

.about-store {
  width: 25%;
}